

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
/* Center Content */
/* Clearfix */




@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('type/cooperhewitt-semibold-webfont.eot');
    src: url('type/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('type/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('type/cooperhewitt-semibold-webfont.ttf') format('truetype'),
         url('type/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cooper_hewittlight';
    src: url('type/cooperhewitt-light-webfont.eot');
    src: url('type/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('type/cooperhewitt-light-webfont.woff') format('woff'),
         url('type/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('type/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1{
	font-family: 'cooper_hewittsemibold'; 
	color:darkslategray;
	padding:0 10% 0 9%;
	text-align:left;
	font-size:6em 

}

h2
{font-family: 'cooper_hewittsemibold';
padding:0 2% 0 2%; 
text-align:left;
clear:both;

 }

#sam {
	font-family: 'cooper_hewittlight';
	font-size:17em;
	text-shadow: 8px 8px 0 rgba(51,102,102,0.5);

	margin:0;
	padding:0 9% 0 9%;
}

nav {  
	 font-family: 'cooper_hewittsemibold';
	 font-size:2em;
     position: relative;
     right: 8%;
	 color: maroon; text-align:left; 
	 margin:0px 0% 0% 0%; width:100%; 
	 padding: 0 10% 0px 10%;
	
 }
	 
nav li {
 padding: 0 0 0 5%;  
 display:inline;
}
 
body {
	background-color:#afeeee;
	color:darkslategray;
	font-family:georgia;
	font-size:.9em;
	background-image: url('images2/paper.jpg');
	background-size: 2300px 
	
}

section {
	width:70%;
}

img {
	padding:2% 0px 0 2px;
}
h5{
	font-family: 'cooper_hewittsemibold'; 
	color:#2f4f4f;
	padding:0 0% 0 4%;
	text-align:left;
	font-size:6em 
 }

a:link {
	color:maroon;
    text-decoration: none;
}

a:hover {
		   
			color:black!important;
			text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #333333, 0 0 5px #333333 , 0 0 5px #333333, 0 0 5px #333333, 0 0 5px #333333 ;
		}
	
a:visited {
			color: #990000;
}
					
	#images {
		padding:1% 7% 1% 7%;
}	
	
	.fancybox {
		padding:0 0 0 0%;
}
	p
	 {font-size:1em;
		  width:70%; 
	  clear:both;
	  float:left;
	  padding:3%}		
	


div {
	margin:25px; 
	float:left;
	clear:right;
	padding:0px;
}

#contactt { clear:both;
	  float:left;
	padding:0 8% 0 7%; 
}


.stamps {
/*	padding:  0 0 300px 0;*/
}

.container {
    width: 300px; 
	
	
  
}

/* resize images */
.container img 
{
    width: 100%;
    height: auto;
}
@media screen and (max-width:1500px) {
	h2 {font-size:1.6em ;}
	img {max-width:100%  ;}
	#sam {font-size:15em ;}
	nav {font-size: 5em ;}
	h1 {font-size:5em ;}
	h5 {font-size:5em ;}
	div{max-width:40%;}
@media screen and (max-width:1300px) {
h2 {font-size:1.3em ;}
nav  {font-size:3em ;}
#sam {font-size:11em ;}
h1 {font-size:3em ;}
h5 {font-size:3em ;}
img {max-width:95%  ;}
	div{max-width:35%;}
	
@media screen and (max-width:900px) {
h2 {font-size:1em ;}
img {max-width:90% ;}
#sam {font-size:5em ;}
nav {font-size:.8em ;}
h1 {font-size:1.3em ;}
h5 {font-size:1.3em ;}
p{font-size:.5em;}
	div{max-width:30%;}
	.subtitles
		{font-size:6.6pt}
	
@media screen and (max-width:650px) {
		h2 {font-size:.8em ;}
		img {max-width:90% ;}
		#sam {font-size:4em ;}
		nav {font-size:.5em ;}
		h1 {font-size:1em ;}
		h5 {font-size:1em ;}
		p{font-size:.5em;}
			div{max-width:20%;}
			.subtitles
				{font-size:6pt}
