

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
/* Center Content */
/* Clearfix */




@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('type/cooperhewitt-semibold-webfont.eot');
    src: url('type/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('type/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('type/cooperhewitt-semibold-webfont.ttf') format('truetype'),
         url('type/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cooper_hewittlight';
    src: url('type/cooperhewitt-light-webfont.eot');
    src: url('type/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('type/cooperhewitt-light-webfont.woff') format('woff'),
         url('type/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('type/cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1
{font-family: 'cooper_hewittsemibold'; color:#2f4f4f; padding:0 8% 0 8%; text-align:left; }
h2{font-family: 'cooper_hewittsemibold';padding:0 8% 0 8%; text-align:left; }
#sam {font-family: 'cooper_hewittlight';font-size:12em;

text-shadow: 8px 8px 0 rgba(51,102,102,0.5);}

nav {  font-family: 'cooper_hewittsemibold'; font-size:2em;
position: relative;
   right: 8%;
	 color: maroon; text-align:left; 
	 margin:0px 0% 0% 0%; width:100%; 
	 padding: 0 8% 0px 8%;
	
 }
	 
nav li {
 padding: 0 0 0 5%;  
 display:inline;}
 
body {background-color:#afeeee;
	color:#2f4f4f;
	font-family:georgia
	
	
}

section {width:70%;
}


a:link {
    text-decoration: none;}
a:hover {
		    font-size:110%;
		}
	
a:visited {
						color: #cccccc;
					}
	.fancybox {padding:1% 8% 1% 8%;}				
p {padding:0 8% 0 8%; }
